name: Edit comment with link preview

on:
  discussion_comment:
    types: [created, edited]

permissions:
  discussions: write

jobs:
  unfurl:
    if: contains(github.event.comment.body, 'http://') || contains(github.event.comment.body, 'https://')
    runs-on: ubuntu-latest

    steps:
      - name: Prevent spam and unfurl
        run: |
          BODY="${{ github.event.comment.body }}"
          COUNT=$(echo "$BODY" | grep -Eo 'https?://[^[:space:]]+' | wc -l)

          if [ "$COUNT" -gt 2 ]; then
            echo "Too many links ($COUNT). Skipping."
            exit 0
          fi

          echo "Running unfurl..."
        shell: bash

      - name: Run unfurl action
        if: success()
        uses: zaorinu/unfurls-discussions@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          comment_id_numeric: ${{ github.event.comment.id }}
          comment_body: ${{ github.event.comment.body }}
          repo_owner: ${{ github.event.repository.owner.login }}
          repo_name: ${{ github.event.repository.name }}
          discussion_number: ${{ github.event.discussion.number }}
